*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches/build_file_checksums.ser.BASE
/.idea/caches/build_file_checksums.ser.LOCAL
/.idea/caches/build_file_checksums.ser.REMOTE
/.idea/caches/gradle_models.ser
/.idea/caches/gradle_models.ser
/.idea/caches/build_file_checksums.ser
/.idea/caches/build_file_checksums.ser
/.idea/caches/build_file_checksums.ser
/.idea/caches/build_file_checksums.ser
